@model Sitecore.Data.Items.Item
<div class="@(Model["Main Menu Type"] == "Inverse" ? "navbar navbar-inverse" : "navbar")">
 <div class="navbar-inner">
  <div class="container">
   <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
   </a>
   @if (Model["Logo Location"] == "Navigation Bar")
   {
    <a href="/" class="brand logobrand">@Html.Sitecore().Field("Site Logo", Model, new { @maxWidth = "120", @maxHeight = "29" })</a>
   }
   else
   {
    <a href="/" class="brand">@UIHelpers.GetDictionaryText("navigate")</a>
   }
   <div class="nav-collapse collapse">
    <!-- The Main Nav - /sitecore/layout/Renderings/LaunchSitecore/Renderings/Navigation/Main Navigation -->
    @Html.Sitecore().Rendering("{39FBB73D-522C-4B62-8E01-7CE3912E5085}", new { Cacheable = true, CacheKey = "mainnav", Cache_VaryByUser = true })
    <div class="navbar-search pull-right">
     @Html.Sitecore().Rendering("{4E4C8D75-5D59-4591-8B57-8402DBD28DF0}") <!-- Search Box -->
    </div>
   </div>
  </div>
 </div>
</div>