<div class="row main-block topmargin">
 <div class="span12">@Html.Sitecore().Placeholder("full-row1")</div>
</div>

<div class="row main-block">
 <div class="span12">
  <div class="row show-grid hero-list features-list">
   <div class="span3">@Html.Sitecore().Placeholder("full-row2a")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row2b")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row2c")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row2d")</div>
  </div>
 </div>
</div>

<div class="row show-grid features-block">
 <div class="span6">@Html.Sitecore().Placeholder("full-row3a")</div>
 <div class="span6">@Html.Sitecore().Placeholder("full-row3b")</div>
</div>
