<div class="row main-block topmargin">
 <div class="span12">@Html.Sitecore().Placeholder("full-row1")</div>
</div>

<div class="row main-block">
 <div class="span12">
  <div class="row show-grid hero-list features-list">
   <div class="span4">@Html.Sitecore().Placeholder("full-row2a")</div>
   <div class="span4">@Html.Sitecore().Placeholder("full-row2b")</div>
   <div class="span4">@Html.Sitecore().Placeholder("full-row2c")</div>
  </div>
 </div>
</div>

<div class="main-block">
 <div class="row show-grid">
  <div class="span12">@Html.Sitecore().Placeholder("full-row3")</div>
 </div>
</div>
