@model RenderingModel
<div class="row main-block topmargin">
 <div class="span12">
  @Html.Sitecore().Placeholder("full-row1")
  <div class="bannershadow shadow"></div>
 </div>
</div>

<div class="row main-block">
 <div class="span12">
  <div class="row show-grid hero-list features-list">
   <div class="span3 clear-both">@Html.Sitecore().Placeholder("full-row2a")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row2b")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row2c")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row2d")</div>
  </div>
 </div>
</div>

<div class="row show-grid features-block mini-blocks">
 <div class="span4 block1"><div class="mini-wrapper">@Html.Sitecore().Placeholder("full-row3a")</div></div>
 <div class="span4 block2"><div class="mini-wrapper">@Html.Sitecore().Placeholder("full-row3b")</div></div>
 <div class="span4 block3"><div class="mini-wrapper">@Html.Sitecore().Placeholder("full-row3c")</div></div>
</div>
