<div class="row main-block topmargin">
 <div class="span12">@Html.Sitecore().Placeholder("full-row1")</div>
</div>
<div class="row main-block">
 <div class="span12">
  <div class="row">
   <div class="span7 home-block hero-block-1">@Html.Sitecore().Placeholder("full-row2a")</div>
   <div class="span5 home-block">@Html.Sitecore().Placeholder("full-row2b")</div>
  </div>
 </div>
</div>
<hr>
<div class="row main-block">
 <div class="span12">
  <div class="row show-grid hero-list features-list">
   <div class="span3">@Html.Sitecore().Placeholder("full-row3a")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row3b")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row3c")</div>
   <div class="span3">@Html.Sitecore().Placeholder("full-row3d")</div>
  </div>
 </div>
</div>
