<div class="row topmargin" data-sr>
    <div class="col-md-12 no-padding">@Html.Sitecore().Placeholder("full-row1")</div>
</div>
<div class="container">
    <div class="row" data-sr>
        <div class="col-md-12">
            <div class="row hero-list">
                <div class="col-md-4">@Html.Sitecore().Placeholder("full-row2a")</div>
                <div class="col-md-4">@Html.Sitecore().Placeholder("full-row2b")</div>
                <div class="col-md-4">@Html.Sitecore().Placeholder("full-row2c")</div>
            </div>
        </div>
    </div>
    <div class="row" data-sr>
        <div class="col-md-12">
            <div class="row hero-list">
                <div class="col-md-4">@Html.Sitecore().Placeholder("full-row3a")</div>
                <div class="col-md-4">@Html.Sitecore().Placeholder("full-row3b")</div>
                <div class="col-md-4">@Html.Sitecore().Placeholder("full-row3c")</div>
            </div>
        </div>
    </div>
</div>


