@model LaunchSitecore.Models.LoginModel
<div class="securityform">
 <h1>@Html.Sitecore().Field("Title")
  <asp:literal id="litHeading" runat="server" />
 </h1>
 @Html.Sitecore().Field("Body")
 
 @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
 {
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)    
  <p>
   @Html.LabelFor(m => m.UserName)
   @Html.TextBoxFor(m => m.UserName)
   @Html.ValidationMessageFor(m => m.UserName)
  </p>
  <p>
   @Html.LabelFor(m => m.Password)
   @Html.PasswordFor(m => m.Password)
   @Html.ValidationMessageFor(m => m.Password)
  </p>           
  <p>@Html.CheckBoxFor(m => m.RememberMe)  @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</p>          
  <p><input type="submit" value="Log in" class="btn btn-primary" /></p>   
 }
</div>











