@model LaunchSitecore.Models.PromoItem
<div class="grey-box hero-block-2">
 <h2>@Html.Sitecore().Field("Title", Model.Item)</h2>
 <p>@Html.Sitecore().Field("Icon", Model.Item, new { @maxWidth = "64", @maxHeight = "64" })</p>
 @Html.Sitecore().Field("Text", Model.Item)
 <a href="@Model.LinkToUrl" class="btn btn-primary">@Html.Sitecore().Field("Link Text", Model.Item)</a>
</div>